.news_list {
    width:100%;
    align-items: center;
    justify-content: center;
    display: flex;
	flex-direction: row;
    flex-wrap: wrap;
}

.news_item{
    position:relative;
    height:250px;
    width:600px;
    padding:15px;
    margin:0 30px;
    margin-bottom:30px;
     overflow:hidden;
    text-overflow:ellipsis;
    background-color:#fff;
    box-shadow:10px 10px 20px #808080;
    transition:transform 0.8s;
}

.news_item:hover{
    transform:scale(1.15);
}

.news_sub {
    width:600;
    height:240px;
    overflow:hidden;
}

.news_item div{
    width:100%;
}

.news_item div h3{
    margin-bottom:20px;
}

.news_a:hover{
    color:#964B00;
}

.header_txt {
    width:60%;
    margin:0 auto;
    text-align:center;
    line-height:50px;
    color:#645244;
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
    margin-bottom:20px;
}

.news_img {
    /* position: absolute;
    top:10px;
    right:10px; */
    width:200px;
    margin-left:10px;
}

.news_a {
    text-decoration: none;
    color:#000;
    transition:all 0.5s;
}

.spinner {
    margin-top:50px;
}

#header {position:relative;}

#header #header_bef {display:block; width:500px; margin:0 auto; height:3px; background-color:#645244;}
#header #header_aft {display:block; width:500px; margin:0 auto; margin-top:-20px; margin-bottom:30px; height:3px; background-color:#645244;}